
html {
	font-family: Roboto, sans-serif;
}

body {
	box-sizing: border-box;
	margin: 3px 0 0 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

.navbar {
	max-width: 800px;
	margin: 0px auto 3px auto;
	padding: 0px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 24px;
	background-color: #F2F2F2;
}

.navbar__brand {
	display: flex;
	align-items: center;
	color: #1B3F9B;
}

.navbar__logo {
	margin-right: 20px;
}
.navbar__navigation {
	list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
	color: #1B3F9B;
}

.navbar__navigation-item {
	margin-left: 40px;
	font-size: 14px;
}

.navbar__link {
	text-decoration: none;
	color: inherit;
}

.navbar__link:hover {
	color: #EF1010;
}

.messages {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;	
	padding: 4px 30px;
	background-color: #D2E2D2;
	margin: 0px auto 3px auto;
}

.main {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;	
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main__all {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;	
	padding: 4px 30px 30px 30px;
	background-color: #F2F2F2;
	margin: 0px auto 3px auto;
}

.main__left  {
 	padding: 0 30px 30px 30px;
	background-color: #F2F2F2;
	flex-grow: 1;
}

.main__right  {
 	padding: 0 30px 30px 30px;
	background-color: #F2F2F2;
	margin-left: 3px;
    flex-grow: 2;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}


.form__input {
	width: 100%;
}

.form__textinput {
	width: 100%;
	font-size: 12px;
	border-radius: 6px;
	padding: 6px 10px;
	background-color: #C3D7D7;	
}

.form__label {
	 display: block;
	 margin-bottom: 10px;
}

.form__textarea {
	width: inherit;
	font-size: 12px;
	padding: 6px 10px;
	border: none;
	border-radius: 6px;
	height: 6em;
	background-color: #C3D7D7;	
	margin-bottom: 10px;
}



.form__submit {
	  background-color: #C3D7D7;
	  border: none;
	  font-size: 12px;
	  font-weight: bold;
	  padding: 5px 30px;
	  border-radius: 6px;
	  height: 24px;
	  color: white;
}

.form__submit:hover {
	background-color: #B8C7C7;
}

.entry {
	margin: 15px 0;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

.entry__title {
	  display: inline;
	  font-size: 18px;
}

.entry__date {
   color:	#C3D7D7;
   font-size: 14px;
   display: inline;
}

.entry__content {
  font-size: 12px;
  line-height: 150%;
}

.entry__delete {
	 font-size: 12px;
	 text-decoration: None;
	 padding: 4px 8px;
	 color: #fff;	 
     background-color: #B8C7C7; border-radius: 6px;
}

.footer {
	 background-color: #30333d;
	 padding: 20px 0;
	 margin-top: 3px;
	 border-top: 3px solid black;
	 color: white;
	 font-size: 12px;
}

.footer__content {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction:row;
}

.footer .left {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.footer .right {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
}
.footer__item {
	margin-bottom: 5px;
	color: inherit;
	text-decoration: none;
}

.footer__item:hover {
	text-decoration: underline;
}