{% extends "template.html" %}
{% block content %}
	
  <section class="main__left">
	<h1>Einen Zettel machen</h1>
	<form class="form" action="#" method="post">
	<p class=form__input>
	   <label class="form__label" for="title-field">Titel:</label>
	   <input class="form__textinput" type="text" name="title" id="title-field" />
	</p>
	<p class=form__input>
	   <label class="form__label" for="text-field">Inhalt:</label>
	   <textarea class="form__textarea" name="content" id="text-field"></textarea>
	</p>			 
	<button class="form__submit" type="submit">Submit</button>
	</form>
  </section>
  <section class="main__right">
	<h1>Die neusten Zettel von {{user}}</h1>
	{% if entries %}
	  {% for entry in entries %}
	<article class="entry">
	  <div class="entry__head">
		<h2 class="entry__title">{{ entry[0] }} </h2>•
		<time class="entry__date" datetime="entry[2]"> {{ entry[2] }}</time>
	  </div>
	  <p class="entry__content">
		 {{ entry[1] }}
	  </p>
	  <a class="entry__delete" href="/delete/{{ entry[3] }}">Delete</a>
	</article>
	  {% endfor %}
	{% else %} 
	  <p>Upps... nix da</p>
	{% endif %}
  </section>
{% endblock %}		

