{% extends "template.html" %}
{% block content %}
  <section class="main__all">
    <h1>Login</h1>
    <form class="form" action="" method="POST">
	{{ form.hidden_tag() }}
    <p class=form__input>
	  {{ form.username.label(class="form__label") }}
      {{ form.username(class="form__textinput") }}
	</p>
	 <p class=form__input>
	  {{ form.password.label(class="form__label") }}
      {{ form.password(class="form__textinput") }}
	</p>
    {{ form.submit(class="form__submit") }}
    </form>
	<p>
	  Need an account?<a href="{{ url_for('register') }}">Register</a>
	</p>
  </section>	
{% endblock %}