{% extends "template.html" %}
{% block content %}
 <section class="main__all">
    <h1>Register</h1>
    <form class="form" action="" method="POST">
	{{ form.hidden_tag() }}

    <p class=form__input>
	  {{ form.username.label(class="form__label") }}
      {{ form.username(class="form__textinput") }}
	</p>
	 <p class=form__input>
	  {{ form.email.label(class="form__label") }}
      {{ form.email(class="form__textinput") }}
	</p>
	 <p class=form__input>
	  {{ form.password.label(class="form__label") }}
      {{ form.password(class="form__textinput") }}
	</p>
	 <p class=form__input>
	  {{ form.confirm_password.label(class="form__label") }}
      {{ form.confirm_password(class="form__textinput") }}
	</p>

    {{ form.submit(class="form__submit") }}
    </form>
	<p>
	  Already registered? <a href="{{ url_for('login') }}">Sign In</a>
	</p>
  </section>	
{% endblock content %}