<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1-0, maximum-scale=1.0" />
		<title>Tofis-Zettelkasten 2</title>
		<link rel="stylesheet" href="/static/css/styles.css" />
	</head>
	<body>
		<header class="navbar">
		  <div class="navbar__brand">
		    <img class="navbar__logo" src="/static/zettel2.png" alt="Schredder-Logo" height=50px />Tofis Zettelkasten
		  </div>	
		  <ul class="navbar__navigation">
		     <li class="navbar__navigation-item"><a href="register" class="navbar__link">Register</a></li>
		     <li class="navbar__navigation-item"><a href="logout" class="navbar__link">Logout</a></li>
		  </ul>
		 </header>
		 
		   {% block messages %}
		    {% with messages = get_flashed_messages() %}
		       {% if messages %}
			   <div class="messages">
			      {% for msg in messages %}
			      <p>{{msg}}</p>
			      {% endfor %}
				</div>
			   {% endif %}
		     {% endwith %}
		  {% endblock %}
	
		<main class="main"> 
		  {% block content %}{% endblock %}
		</main>
		<footer class="footer">
		  <!-- use div because footer will fill whole page and content should have size of other content -->
		  <div class="footer__content">
              <section class="left">
			      <a class="footer__item">item-1</a>
				  <a class="footer__item">item-2</a>
			  </section>
			  <section class="right">
			      <a class="footer__item">item-3</a>
				  <a class="footer__item">item-4</a>
		      </section>
          </div>		  
		</footer>
	</body>
</html>

